includes:
	- phpstan-baseline.neon
parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    excludePaths:
        - vendor
        - scripts
        - public
        - tests
        - tools
